@model List<Instructor>

<div id="div1" style="border : solid 2px blue"> </div>
    @foreach (var item in Model)
{
    <partial name="_IntructorPartial" model="item"></partial>

}


@section script
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        function GetInstructorData(id) 
        {
          //  console.log(id);
            event.preventDefault();
            $.ajax({
                url: "/Instructor/InstructorDetailsPartial/"+id,
                success: function (result) {
                  //  console.log(result);
                    $("#div1").html(result);
                }
            });
        }
    </script>
}